/*Background Image*/
body, html {
  height: 100%;
  width: 100%;
}

body{
    font-family: 'poppins', sans-serif;
    color: #ffffff;
}

.container-fluid {
    width: 100%;
}
.bg-image {
  /* The image used */
  background-image: url('/images/background.png');

  /* Full height */
  height: auto;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*NAVBAR*/
/*Need to remove background image in order to override bootstrap*/
.navbar-purple{
  background-color: #371267;
  background-image: none;
} 

/*Nav button cannot be overriden by css without important*/
form button .btn .btn-outline-light {
    margin-left: 5px !important;
}

.btn-primary {
    background-color: #BA55D3;
    border-color: #BA55D3;
    opacity: 90%
}

.carousel-caption {
    left: 75%;
}

/*SERIES CARD*/
.series-card .rounded{
padding: 10px;
width: 640px;
height: 360px;
border-radius: 2.5%;
}

h4 {
    padding: 5px;
}

/* VIDEO */
iframe {
    margin-top: 10vh;
    max-width: 960px;
    max-height: 540px;
    border-radius: 2%;
    margin-left: 25%;
}

.video-container {
    max-height: 650px;
}

.video-title {
    margin-left: 25%;
}
/* FOOTER */
