/*Covering whole page requires min height 100 on both html and body*/
html, body { 
    min-height: 100%; 
}

/*Background Image*/
body {
  font-family: "poppins", sans-serif;
  color: #ffffff;
}

.container-fluid {
  width: 100%;
}

.bg-image {
  /* The image used */
  background-image: url("/images/background.png");

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*NAVBAR*/
/*Need to remove background image in order to override bootstrap*/
.navbar-purple {
  background-color: #371267;
  background-image: none;
}

nav {
    height: 9vh;
}

/*Nav button cannot be overriden by css without important*/
form button .btn .btn-outline-light {
  margin-left: 5px !important;
}

.btn-primary {
  background-color: #ba55d3;
  border-color: #ba55d3;
  opacity: 90%;
}

/*CAROUSEL*/
.carousel-caption {
  left: 75%;
}

/*SERIES CARD*/

.series-card a img {
  padding: 5px;
  width: 320px;
  height: 180px;
  border-radius: 2.5%;
}

h4 {
  padding: 5px;
}

/*CHANNELS*/
/*Channel container*/
.channel-container {
    margin-top: 10vh;
    padding: 5px;
    background-color: rgb(186, 85, 211, 0.5);
    width: 95%;
}
/*Channel logo*/
.channel-logo {
    height: 100px;
    width: 100px;
}

.logo-image {
    display: flex;
    justify-content: center;
}
/*Channel title*/
.channel-title {
    text-align: center;
}
/*Positioning*/
.container.channel-logo-position {
    float: left;
    width: 205px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 5px;
}
/* VIDEO */
/* iframe data pulled from Brightcove*/
/*Video code from WC3*/

.container-video {
  margin-top: 9vh;
  position: relative;
  width: 100%;
  height: 91vh;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/*MY VIDEOS*/
/*Sign in form*/
.sign-up-form {
  margin-top: 10vh;
  margin-bottom: 3vh;
  background-color: rgb(186, 85, 211, 0.5);
  width: 50%;
  border-radius: 5%;
}

.heading-section {
  padding-top: 25px;
}

/*COMING SOON*/
.info-text-box {
  margin-top: 10vh;
  margin-bottom: 3vh;
  background-color: rgb(186, 85, 211, 0.5);
  width: 50%;
  border-radius: 5%;
}

.heading-section {
  padding-top: 25px;
}
/* FOOTER */
